
<!--Website: wwww.codingdung.com-->
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Profile</title>
    <script src="timer.js"></script>
    <link rel="stylesheet" th:href="@{/css/utils.css}">
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <style>
        .user-profile {
            max-width: 600px;
            margin: 20px auto;
            padding: 20px;
            border: 1px solid #ccc;
            border-radius: 5px;
        }

    </style>
</head>

<body>
<div class="container mx-auto">
    <header>
        <nav class="flex justify-between">
            <div class="logo font-bold flex items-center text-blue">Find&Connect</div>
            <ul class="navbar flex items-center content">
                <li><a th:href="@{/}"><span>HOME</span></a></li>

                <li><a th:href="@{/contests}"><span>FIND</span>&nbsp;<span>CONTEST</span></a></li>


                <li>
                    <div class="dropdown content">
                        <b><span>Connect</span></b>
                        <div class="dropdown-content">
                            <a th:href="@{/mentor}">As Mentor</a>
                            <a th:href="@{/mentee}" target="_blank">As Mentee</a>
                        </div>
                    </div>
                </li>

                <li><a th:href="@{/contests/add}"><span>NOTIFY</span>&nbsp;<span>CONTEST</span></a></li>

                <li><a th:href="@{/problems}"><span>SEARCH</span>&nbsp;<span>PROBLEM</span></a></li>

                <li><a th:href="@{/query}"><span>CONTACT</span></a></li>
                <li class="nav-item active">
                    <a class="nav-link" sec:authorize="isAnonymous()" th:href="@{/login}" href="#"><h3>Login</h3></a>
                </li>
                <li class="nav-item active" th:if="${#authorization.expression('isAuthenticated()')}">
                    <div class="dropdown content">
                        <h3 th:text="${#authentication.name}">Username</h3>
                        <div class="dropdown-content">
                            <a class="nav-link" th:href="@{/user/{id}(id=${loggedid})}"><span>My Profile</span></a>
                            <a class="nav-link" sec:authorize="isAuthenticated()" th:href="@{/logout}" href="#"><span>Logout</span></a>
                        </div>
                    </div>
                </li>
            </ul>
        </nav>
        <hr>
    </header>
    <div class="user-profile">
        <h2>User Profile</h2>
        <h4>@<span th:text="${user.username}"></span></h4>
        <p>Name: <span th:text="${user.firstName}"></span> <span th:text="${user.lastName}"></span></p>
        <p>Email: <span th:text="${user.email}"></span></p>
        <p>Trust Point: <span th:text="${user.trustPoint}"></span></p>
        <h3>Roles:</h3>
        <h5 th:if="${#lists.contains(roles.![name], 'ROLE_ADMIN')}">Admin</h5>
        <h5 th:if="${#lists.contains(roles.![name], 'ROLE_USER')}">User</h5>
        <h5 th:if="${#lists.contains(roles.![name], 'ROLE_MENTOR')}">Mentor</h5>
        <h5 th:if="${#lists.contains(roles.![name], 'ROLE_MENTEE')}">Mentee</h5>
        <br>

        <!-- Check if the user is a mentor -->
        <th:block th:if="${isMentor}">
            <p th:text="${'Mentor of ' + user.mentor.mentees.size() + ' users'}"></p>
            <p th:text="${'Mentor Points: ' + user.mentor.points}"></p>
        </th:block>
    </div>
    <script data-cfasync="false" src="/cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script>
    <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.0/dist/js/bootstrap.bundle.min.js"></script>
    <script type="text/javascript">

    </script>
</body>

</html>